---
layout: default
---

<div class="left sidebar four columns offset-by-one">
  <p class="big">
  	Read about present & past
  	<span class="projects highlight">projects</span>
    or play smaller
  	<span class="highlight">games</span>
    and prototypes
  </p>
</div>

<div class="eleven columns container">
  <div class="row">
	{% for post in site.categories.games %}
		{% include tile.html %}
    {% unless forloop.first or forloop.last %}
      {% cycle '</div><div class="row">', '' %}
    {% endunless %}
	{% endfor %}
  </div>
</div>
