<footer id="page-footer" class="ten container columns offset-by-three">
  <div class="bar">
    <h3>sebastiankessler.com</h3>
  </div>

  <div class="about two columns offset-by-three alpha">
    <a href="/about-me">About Me</a>
  </div>
  <div class="archive two columns">
    <a href="/archive">Archive</a>
  </div>
  <div id="google-search" class="search three columns omega">
    <form name="cse" id="searchbox_demo" action="http://www.google.com/cse">
      <input type="hidden" name="cref" value="" />
      <input type="hidden" name="ie" value="utf-8" />
      <input type="hidden" name="hl" value="" />
      <input name="q" type="text" size="40" type='search' id="google-search-box"/>
      <!--<input type="submit" name="sa" value="Search" />-->
    </form>
    <script type="text/javascript" src="http://www.google.de/cse/tools/onthefly?form=searchbox_demo&lang="></script>
  </div>
</footer>
