html {
  height: 100%;
}

body{
  font-family: ff-meta-web-pro;
  color:       #DDD;

  height: 100%;

  background: #161515
              url(/img/ui/texture.jpg) no-repeat center top fixed;
}

.only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .mobile.only{
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .desktop.only {
    display: block;
  }
}

.ie .desktop.only {
  display: block;
}

/* Fonts etc. */

strong, i {
  color: #EEE;
}

.highlight {
  color: #C5C533;
}

i {
  font-style: italic;
}

p, li, blockquote {
  font-size:   18px;
  line-height: 24px;
}

@media only screen and (max-width: 767px) {
  body, p {
    -webkit-hyphens: auto;
  }
}


h1, h2 ,h3, h4, h5, h6 {
  font-family: adelle, helvetica, serif;
  font-weight: 700;
  color:       #EEE;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

h2.floating {
  float:       left;
  height:      38px;
  line-height: 48px;
  margin:      0;
  padding:     5px 10px 5px 10px;
}

/* Header */
#page-header {
  text-align: center;

  margin: 12px 0 36px 0;
}

#page-header .content {
  display: inline-block;
  background: url(/img/ui/header_bulb_large.png) no-repeat;
  background-size: auto 100%;
  height: 166px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #page-header .content {
    background: url(/img/ui/header_bulb_large_2x.png) no-repeat;
  }
}

#page-header .content-wrapper {
  display: block;
  height:  64px;

  margin: 71px 0 0 140px;
}

#page-header h1 {
  text-align:  right;
  font-size:   30px;
  line-height: 30px;
  font-weight: 300;

  margin:  0;
  padding: 0;

  color: #888;
}

#page-header ul.navigation {
  display:         block;
  text-align:      right;
  list-style-type: none;
  white-space:     nowrap;
}

#page-header ul.navigation li {
  display: inline-block;
  float:   left;
  height:      34px;
  font-size:   48px;
  line-height: 34px;

  padding: 0;
  margin:  0 0 0 6px;

  background: #EEE;
}

#page-header ul.navigation a {
  padding:     0px 17px;

  font-family: adelle, helvetica, serif;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: -4px;

  position: relative;
  top:      6px;

  color:    #161515;
}

#page-header ul.navigation a:hover,
#page-header ul.navigation a:focus {
  color: #C5C533;
}

@media only screen and (max-width: 767px) {
  #page-header .content  {
    background: url(/img/ui/header_bulb_medium.png) no-repeat;
    height:     110px;
  }

  #page-header .content-wrapper {
    margin: 37px 0 0 93px;
  }

  #page-header  h1 {
    font-size: 25px;
  }

  #page-header ul.navigation li {
    display:     block;
    height:      22px;
    font-size:   30px;
    line-height: 22px;
  }

  #page-header ul.navigation a {
    padding:        0px 6px;
    letter-spacing: -2px;
    top:             3px;
  }
}



@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px) {
   #page-header .content  {
    background: url(/img/ui/header_bulb_medium_2x.png) no-repeat;
  }
}

@media only screen and (max-width: 479px) {
  #page-header .content {
    background: url(/img/ui/header_bulb_small.png) no-repeat;
    height:     110px;
    width:      100%;
  }

  #page-header  .content-wrapper {
    margin: 24px 0 0 52px;
  }

  #page-header  h1 {
    line-height: 26px;

    display: block;
    float:   right;

    width:   111px;
  }

  #page-header  h1 span {
    display: block;
    float:   left;
  }

  #page-header ul.navigation {
    display: block;
    float:   left;
    width:   137px;
  }

  #page-header ul.navigation li {
    display:    block;
    float:      right;
    height:     22px;
    margin:     0 0 4px 1px;
    width:      137px;
    background: transparent;
  }

  #page-header ul.navigation li a {
    display: inline;
    padding: 0 9px 0 0;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 479px) {
   #page-header .content  {
    background: url(/img/ui/header_bulb_small_2x.png) no-repeat;
  }
}

/* Footer */

#page-footer {
  margin: 48px 0 0 0;
  height: 100px;
}

#page-footer .bar {
  position:   relative;
  height:     54px;
  background: url('/img/ui/footer_gear.png') bottom right;

  margin: 0 0 9px 0;
}

#page-footer h3 {
  display:    inline;
  background: #161515;
  position:   absolute;
  bottom:     -9px;
  padding:    0 5px 0 0;
  margin:     0;
}

#page-footer a {
  font-size:       16px;
  font-weight:     bold;
  text-decoration: none;
  font-family:     adelle, helvetica, serif;
}

#page-footer a:hover {
  color:   #C5C533;
}

@media only screen and (max-width: 767px) {
  #page-footer {
    text-align: center;
    border-top: 1px #333 dashed;
    margin:     8px 0;
    padding:    4px 0;
  }

  #page-footer .about, #page-footer .archive, #page-footer .search {
    margin:  4px;
  }

  #page-footer .search input {
    display: inline-block;
  }

  #page-footer .bar {
    display: none;
  }
}

/*@media only screen and (max-width: 479px) {
/*  #page-footer .bar {
/*    background: #EEE;
/*    height:     12px;
/*  }
/*
/*  #page-footer h3 {
/*    display: none;
/*  }
/*
/*  #page-footer .about, #page-footer .archive, #page-footer .search {
/*    float: left;
/*    width: 92px;
/*  }
/*
/*  #page-footer .about, #page-footer .archive {
/*    margin: 0 12px 0 0;
/*  }
/*}
/* Posts */

.about-teaser {
  margin: 12px 0;
}

article header {
  margin: 0 0 12px 0;
}

article header h3 {
  font-size:   44px;
  line-height: 44px;
}

article header .date {
  color:   #C5C533;
}

article img {
  max-width: 100%;
  margin:    12px 0;
}

article section ul li {
  list-style-type: square;
}

article + article {
  margin: 48px 0 0 0;
}

img.float.left {
  float:  left;
  margin: 0 12px 0 0;
}

img.float.right {
  float:  right;
  margin: 0 0 0 12px;
}

/* Embeds */
iframe {
  max-width: 100%;
  margin:    0 0 24px 0;
}

/* Tiles */
.tile, .tile:visited {
  display: block;

  padding: 0 0 16px 0;
  text-decoration: none;
}

.tile .image-wrapper {
  display:  block;
  height:     140px;
  background: #EEE;

  padding: 10px;
}

.tile.wip:not(.ie7) .image-wrapper:after {
  content:  url(/img/ui/wip.png);
  position: absolute;
  top:      -2px;
  right:    -1px;
}

.tile .image {
  width:  100%;
  height: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.tile .title {
  font-family: adelle, helvetica, serif;
  font-weight: 700;
  color:       #EEE;
  font-size:   32px;
  line-height: 32px;
}

.tile .description {
  font-size: 16px;
  font-family: adelle, helvetica, serif;

  color: #EEE;
}

.tile:first-child .image-wrapper {
  -webkit-transform: rotate(0.5deg);
  -moz-transform: rotate(0.5deg);
  -o-transform: rotate(0.5deg);
  transform: rotate(0.5deg);
}

.tile:nth-child(3) .image-wrapper {
  -webkit-transform: rotate(-0.2deg);
  -moz-transform: rotate(-0.2deg);
  -o-transform: rotate(-0.2deg);
  transform: rotate(-0.2deg);
}

@media only screen and (max-width: 767px) {
  .tile .image-wrapper {
    height: 160px;
  }
}

/* Sidebar */
.sidebar {
  margin: 0 0 12px 0;
}

.sidebar .big {
  font-family: adelle, helvetica, serif;
  font-size:   30px;
  line-height: 40px;
  font-weight: 700;

  hyphens: auto;
}

.sidebar .big .highlight {
  font-size: 44px;
  display:   block;
}

.sidebar.left {
  text-align: right;
}

.sidebar img {
  max-width: 100%;
  margin:    0 0 20px 0;
}

@media only screen and (max-width: 767px) {
  .sidebar .big {
    font-size:   22px;
    line-height: 30px;
    text-align:  left;
  }

  .sidebar .big .highlight {
    font-size: 28px;
    display:   inline !important;
  }
}

/* About Me */
.profile h2 {
  font-size: 50px;
}

.profile-wrapper {
  font-family: adelle, helvetica, serif;

  font-size:   22px;
  line-height: 30px;

  font-weight: 700;
}

.profile-wrapper {
  background:  url(/img/about-me/hi-grainy-m.png) no-repeat 214px 0;
  padding:     45px 0 0 50px;
  height:      370px;
  font-size:   30px;
}

.profile-wrapper span {
  display: block;
}

.profile-wrapper span.personal {
  font-size: 58px;
  margin: 0 0 20px 0;
}

.profile-wrapper span.information {
  font-size: 44px;
  margin: 0 0 14px 0;
}

.profile-wrapper span.about-me {
  font-size: 44px;
  margin: 0 0 14px 0;
}

.profile-wrapper span.contact {
  font-size: 48px;
  margin: 0 0 18px 0;
}

.profile-wrapper span.details {
  font-size: 48px;
  margin: 0 0 12px 0;
}

.profile-wrapper span.documents {
  font-size: 32px;
  margin: 0 0 4px 0;
}

.profile-wrapper span.and-photos {
  font-size: 34px;
}

@media only screen and (max-width: 959px) {
  .profile-wrapper {
    background: url(/img/about-me/hi-grainy-m.png) no-repeat 145px 0;
    padding:    45px 0 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .profile-wrapper {
    background: none;
    height:     auto;
    padding:    0 0 20px 0;
  }

  .profile-wrapper span.personal {
    font-size: 30px !important;
  }

  .profile-wrapper span {
    font-size: 24px !important;
    display: inline;
  }
}

/* Game */
article.game header h2 {
  margin: 10px 0 20px 0;

  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;

  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

article.game header h2 span {
  background: white;
  color:      #161515;
  padding:    5px;
  margin:     0 0 0 -5px;

  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;

  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
}

/* Gallery */
.gallery {
  margin: 0 0 12px 0;
}

.gallery .display-wrapper {
  display: block;
  text-align: center;
}

.gallery .display-wrapper img {
  display: block;

  margin:     0;
  max-width:  496px;
  border:     12px solid #EEE;
}

.gallery ul {
  display: block;
  margin:  0;
}

.gallery ul:after {
  content:    '\0020';
  display:    block;
  overflow:   hidden;
  visibility: hidden;
  width:      0;
  height:     0;
  clear:      both;
}

.gallery li {
  display:         block;
  float:           left;
  list-style-type: none;

  width:  64px;
  height: 64px;
  margin: 0 12px 12px 0;
}

.gallery li:nth-child(7n) {
  margin: 0 0 12px 0;
}

@media only screen and (max-width: 960px) and (min-width: 768px) {
  .gallery .display-wrapper img {
    max-width:  388px;
  }

  .gallery li {
    margin: 0 23px 12px 0;
  }

  .gallery li:nth-child(5n) {
    margin: 0 0 12px 0 !important;
  }

  .gallery li:nth-child(7n) {
    margin: 0 23px 12px 0;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .gallery .display-wrapper img {
    max-width:  396px;
  }

  .gallery li {
    margin: 0 25px 12px 0;
  }

  .gallery li:nth-child(5n) {
    margin: 0 0px 12px 0 !important;
  }

  .gallery li:nth-child(6n) {
    margin: 0 25px 12px 0;
  }

  .gallery li:nth-child(7n) {
    margin: 0 25px 12px 0;
  }
}

@media only screen and (max-width: 479px) {
  .gallery .display-wrapper img {
    max-width:  268px;
  }

  .gallery li {
    margin: 0 12px 12px 0;
  }

  .gallery li:nth-child(4n) {
    margin: 0 0px 12px 0 !important;
  }

  .gallery li:nth-child(5n) {
    margin: 0 12px 12px 0;
  }

  .gallery li:nth-child(6n) {
    margin: 0 12px 12px 0;
  }

  .gallery li:nth-child(7n) {
    margin: 0 12px 12px 0 !important;
  }
}

.gallery li a {
  display: block;
  width:   50px;
  height:  50px;

  border:     7px solid #EEE;
  background: #EEE;
}

.gallery li a:hover, .gallery li a:active, .gallery li a.active {
  border: 7px solid #C5C533;
}

.gallery li img {
  width:  100%;
  height: 100%;

  padding: 0;
  margin:  0;
}

/* CV */

.cv h2 {
  background: #eee;
  color:      #151414;
  padding:    0 12px;
  font-size:  26px;
  margin:     0;
}

.cv h3 {
  display: inline;

  font-size:   22px;
  line-height: 22px;

  text-align:  center;
}

.cv li {
  margin: 0 0 24px 0;
}

.cv li p {
  margin: 0;
}

.cv li p:first-child {
  margin: 0 0 0px -36px;
}

@media only screen and (max-width: 767px) {
  .cv li p:first-child {
    margin: 0;
  }
}

.cv > header {
  margin: 36px 0;
}

.cv > header:first-child {
  margin: 0 0 36px 0;
}

.cv section.skills header {
  height:         44px;
  margin:         0 0 12px 0;
}

@media only screen and (max-width: 767px) {
  .cv section.skills header {
    height: auto;
  }
}

.cv section.skills li,
.cv section.skills p {
  font-size:   16px;
  line-height: 18px;
  margin:      0 0 12px 0;
}

.cv section.skills.software li {
margin:      0 0 6px 0;
}

.cv section.skills li:before {
  content: '- ';
}

.cv table td {
  line-height: 24px;
  height:      24px;
  padding:     0 6px 0 0;
}

.cv p, .cv td {
  font-size:   18px;
  font-weight: 500;
  line-height: 24px;
}

.cv p.details {
  font-style:  italic;
  font-size:   16px;
}

.cv .interests li {
  list-style-type: square;
  margin:          0 0 6px 0;
}

@media only screen and (max-width: 479px) {
  .cv a.email {
    letter-spacing: -1px;
  }
}

/* DISQUS overrides *sigh* */
#disqus_thread {
  margin: 24px 0;
}

#disqus_thread h3 {
  font-size: 24px;
  line-height: 36px;
}

#dsq-global-toolbar, #dsq-footer {
  display: none;
}

#dsq-account-dropdown {
  height:      36px;
  line-height: 36px;
}

#dsq-sort-by select {
  display:        inline-block;
  vertical-align: text-bottom;
}

.errorlist li {
  font-size: 14px;
}

/* Google search */
#google-search {
  display: block;
}

#google-search-box {
  display:   block;
  padding:   3px 0;
  margin:    0;
  border:    none;
  font-size: 12px;
}
