html {
  height: 100%;
}

body{
  height: 100%;

  background: #161515
        url(/img/ui/texture.png) no-repeat center top fixed;
    -webkit-background-size: 1920px 2200px;
  // background: -moz-linear-gradient(top, #1a1a1a 600px, #000000 100%);
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(600px,#1a1a1a), color-stop(100%,#000000));
  // background: -webkit-linear-gradient(top, #1a1a1a 600px,#000000 100%);
  // background: -o-linear-gradient(top, #1a1a1a 600px,#000000 100%);
  // background: -ms-linear-gradient(top, #1a1a1a 600px,#000000 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161515', endColorstr='#000000',GradientType=0 );
  // background: linear-gradient(top, #1a1a1a 600px,#000000 100%);
}

i {
  font-style: italic;
}

body, p, p strong, p i  {
  font-family: ff-meta-serif-web-pro, serif;
  color:       #EEE;
}

h1, h2 ,h3, h4, h5, h6 {
  font-family: adelle, helvetica, serif;
  font-weight: 700;
  color:       #EEE;
}

/* Header */
.header-wrapper {
  text-align: center;

  margin: 16px 0;
}

.header {
  display: inline-block;
  background: url(/img/ui/header_bulb_large.png) no-repeat;
  height: 166px;
}

.header .content-wrapper {
  display: block;
  height:  64px;

  margin: 71px 0 0 140px;
}

.header h1 {
  text-align:  right;
  font-size:   30px;
  line-height: 30px;
  font-weight: 300;

  margin:  0;
  padding: 0;

  color: #888;
}

ul.navigation {
  display:         block;
  text-align:      right;
  list-style-type: none;
  white-space:     nowrap;
}

ul.navigation li {
  display: inline-block;
  float:   left;
  height:      34px;
  font-size:   48px;
  line-height: 34px;

  padding: 0;
  margin:  0 0 0 6px;

  background: #EEE;
}

ul.navigation a {
  padding:     0px 17px;

  font-family: adelle, helvetica, serif;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: -4px;

  position: relative;
}

// Adapt Adelle only
html.wf-adelle-n7-active ul.navigation a {
  top:      6px;
}

@media only screen and (max-width: 767px) {
  .header {
    background: url(/img/ui/header_bulb_medium.png) no-repeat;
    height:     110px;
  }

  .header .content-wrapper {
    margin: 37px 0 0 93px;
  }

  .header h1 {
    font-size: 25px;
  }

  ul.navigation li {
    display:     block;
    height:      22px;
    font-size:   30px;
    line-height: 22px;
  }

  ul.navigation a {
    padding:        0px 6px;
    letter-spacing: -2px;
  }

  // Adapt Adelle only
  html.wf-adelle-n7-active ul.navigation a {
    top:      3px;
  }
}

@media only screen and (max-width: 479px) {
  .header {
    background: url(/img/ui/header_bulb_small.png) no-repeat;
    height:     110px;
    width:      100%;
  }

  .header .content-wrapper {
    margin: 24px 0 0 52px;
  }

  .header h1 {
    line-height: 26px;

    display: block;
    float:   right;

    width:   111px;
  }

  .header h1 span {
    display: block;
    float:   left;
  }

  ul.navigation {
    display: block;
    float:   left;
    width:   137px;
  }

  ul.navigation li {
    display:    block;
    float:      right;
    height:     22px;
    margin:     0 0 4px 1px;
    width:      137px;
    background: transparent;
  }

  ul.navigation li a {
    display: inline;
    padding: 0 9px 0 0;
  }
}

/* Tiles */
.tile {
  padding: 0 0 16px 0;
}

.tile .image-wrapper {
  display:  block;
  height:     140px;
  background: #EEE;

  padding: 10px;
}

.tile.wip:not(.ie7) .image-wrapper:after {
  content:  url(/img/ui/wip.png);
  position: absolute;
  top:      -2px;
  right:    -1px;
}

.tile .image {
  width:  100%;
  height: 100%;

  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: center center;
}

.tile .title {
  font-family: adelle, helvetica, serif;
  font-weight: 700;
  color:       #EEE;
  font-size:   32px;
  line-height: 32px;
}

.tile .description {
  font-size: 16px;
}

.tile:first-child .image-wrapper {
  -webkit-transform: rotate(0.5deg);
  -moz-transform: rotate(0.5deg);
  -o-transform: rotate(0.5deg);
  transform: rotate(0.5deg);
}

.tile:nth-child(3) .image-wrapper {
  -webkit-transform: rotate(-0.2deg);
  -moz-transform: rotate(-0.2deg);
  -o-transform: rotate(-0.2deg);
  transform: rotate(-0.2deg);
}

@media only screen and (max-width: 767px) {
  .tile .image-wrapper {
    height: 160px;
  }
}

/* Sidebar */
.sidebar {
  font-family: adelle, helvetica, serif;
  text-align:  right;

  font-size:   30px;
  line-height: 40px;

  font-weight: 700;

  margin-bottom: 14px;
}

.sidebar span.projects {
  font-size: 44px;

  color: #C5C533;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    font-size:   22px;
    line-height: 30px;
    text-align:  justify;
  }

  .sidebar span.projects {
    font-size:   30px;
  }
}
