---
layout: default
---

<div class="profile nine columns offset-by-one">
  <div class="profile-wrapper">
    <span class="personal highlight">Personal</span>
    <span class="information">information</span>
    <span class="about-me">about me,</span>
    <span class="contact">contact</span>
    <span class="details">details,</span>
    <span class="documents">documents</span>
    <span class="and-photos">and photos</span>
  </div>


  <h2 class="floating">
    Hi!
  </h2>

  <p>My name is Sebastian and i'm a 24 year old game design student living in
  Berlin. Get in touch with me:</p>

  <ul style="padding: 0 0 0 12px">
    <li>Via e-mail: <a href="mailto:mail@sebastiankessler.com">mail@sebastiankessler.com</a></li>
    <li>On Skype, where I am <a href="skype:desucrere">desucrerer</a></li>
    <li>On <a href="https://plus.google.com/101471446983022022320">Google+</a></li>
    <li>On <a href="http://vimeo.com/sebastiankessler">vimeo</a></li>
  </ul>

  <p>Video and board games are a passion of mine - I love to play them
  with friends or enjoy them myself on cold winter nights.</p>

  <img src="/img/about-me/hi-small.png" class="mobile only float right" />

  <p>When i started to design little board game prototypes myself and devoured
  the available literature on the topic, i realized that game development
  is in fact different from playing, but something
  just as fullfiling. And that i wanted to do it!</p>

  <p>That was when i decided to dive deeper into game design and found advice
  and company in tutors and fellow students at my university in Berlin.</p>

  <p>Currently, I'm in the final phase of my studies, doing the design on a
  larger student project. It is called Spectaculum - A Gipsy Adventure
  and you can find more about it in the projects section of my website.</p>

  <p>Nice of you dropping by.</p>
</div>

<div class="five columns alpha omega">
  {% for post in site.categories.about-me %}
    {% include tile.html %}
  {% endfor %}
</div>
