---
layout: default
---

<article class="game nine columns offset-by-one">
  <header>
    <h2>
      <span>{{ page.title }}</span>
    </h2>
  </header>
  <section>
    {{ content }}
  </section>
</article>

<div class="desktop only right sidebar five columns">
  <p class="big">
    {{ page.description }}
  </p>
  {% if page.assets %}
    <ul class="downloads clear-fix">
    {% for asset in page.assets %}
      <li>
        <a href="{{ asset.url }}" alt="{{ asset.title }}">
          {{ asset.title }}
        </a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
